/*

!/.gitignore

!/apis/
!/client/
!/cluster/
!/unsorted/
!/pkg/
!/.github/

!/go.work
!/go.work.sum
!/LICENSE-AGPL-3.0
!/LICENSE-APACHE
!/LICENSE
!/Makefile
!/README.md
!/SECURITY.md

!/.vscode/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

bin/
vendor/
tmp/
mem/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


*.test

apis/protobuf/
*.proto
