go 1.26.4

use (
	./apis
	./client/cordium
	./cluster/apiserver
	./cluster/common
	./cluster/genesis
	./cluster/mockapiserver
	./cluster/nocturne
	./cluster/portal
	./cluster/rscserver
	./cluster/supervisor
	./cluster/vigil
	./cluster/workspace
	./pkg
)
